.profile {
  max-width: 880px;
  margin: 0 auto;
  padding: 40px 0 51px 0;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .profile {
    padding: 38px 19px 36px 19px;
    flex-direction: column;
  }
}