.form__error {
  display: block;
  visibility: hidden;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  color: #ff0000;
  position: absolute;
  text-align: start;
  margin-top: 5px;
}